{% extends 'base.html.twig' %}

{% block body %}
    <div class="row align-center small-10 columns ">
        <h3 class="title">Vous êtes le meneur du challenge: {{ challenge.nom }}</h3>
        <div class="align-middle">
            {{ form_start(form) }}
            <div class="row">
                {{ form_label(form.file, 'Télecharger une image', {'label_attr': {'class':'small button float-center' }}) }}
                {{ form_widget(form.file, {'attr': {'class':'show-for-sr' }}) }}
            </div>
            <div class="row">
                {% if challenge.images is defined %}
                    <a class="warning small button float-center" href="{{ path('challenge_passe', {'id':challenge.id}) }}">Passer son tour</a>
                {% endif %}
            </div>
            <div class="text-center">
                <a class="button alert button" href="{{ path('challenge_index') }}">Retour à l'accueil</a>
                <input type="submit" class="success button" value="Create" />
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            $('#gamebundle_image_lat').val(position.coords.latitude);
            $('#gamebundle_image_lng').val(position.coords.longitude);
        }
        getLocation();
        showPosition();
    </script>

{% endblock %}