{% extends 'base.html.twig' %}
{% form_theme form 'foundation_5_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/challenge.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row align-center small-10 columns ">
        <div class="align-middle">
            <h1 class="title">Création d'un challenge</h1>

            {{ form_start(form) }}

                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dureeType) }}
                {{ form_row(form.duree) }}
                {{ form_row(form.type) }}

                <div class="text-center">
                    <a class="button alert" href="{{ path('challenge_index') }}">Retour à l'accueil</a>
                    <input class="button success" type="submit" value="Créer"/>
                </div>
            {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/timer.js') }}"></script>
    <script>
        $('#gamebundle_challenge_dureeType').change(function () {
            if ($('#gamebundle_challenge_dureeType').prop('checked') == true)
            {
                $('#gamebundle_challenge_duree').val(0);
                $('#gamebundle_challenge_duree').parent( ".large-12" ).hide();
                $('#gamebundle_challenge_duree').attr('min', '0');
            }
            else {
                $('#gamebundle_challenge_duree').parent(".large-12").show();
                $('#gamebundle_challenge_duree').attr('min', '1');
                $('#gamebundle_challenge_duree').val(1);
            }
        });
    </script>
    <script>
    var GameTime = new Timer();
    var Time = 15 * 60; // 15 minutes

    GameTime.start(Time).on('end', function () {
      alert('Pizza is ready, bon appetit!');
    });
</script>
{% endblock %}