{% extends 'base.html.twig' %}

{% block body %}
    <h1>Challenge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ challenge.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ challenge.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ challenge.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ challenge.type }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ challenge.duree }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if challenge.dateCreate %}{{ challenge.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('challenge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
