{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="row">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">{{ challenge.nom }}</a>
                <div class="accordion-content" data-tab-content>
                    {{ challenge.description }}
                </div>
            </li>
        </ul>
    </div>
    {% if image_meneur is not null %}
        <h4 class="title">Image du challenge</h4>
        <div class="text-center row">
            <img width="50%" src="{{ asset('uploads/promotion/') }}{{ image_meneur.src }}" alt="">
        </div>
        {% if image_meneur.users != user %}
            {% if image_user is null %}
                <div class="row align-middle">
                    {{ form_start(form) }}
                    {{ form_label(form.file, 'Télecharger une image', {'label_attr': {'class':'small button float-center' }}) }}
                    {{ form_widget(form.file, {'attr': {'class':'show-for-sr' }}) }}
                    {{ form_widget(form.lng, {'type': 'hidden'}) }}
                    {{ form_widget(form.lat, {'type': 'hidden'}) }}

                    <div class="text-center">
                        <input type="submit" class="success button" value="Proposer" />
                    </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <h4 class="title">Image proposée</h4>
                <div class="row text-center">
                    <img src="{{ asset('uploads/promotion/') }}{{ image_user.src }}" alt="">
                </div>
            {% endif %}
        {% endif %}
        {% if images_user is not empty %}
            <div class="row align-center small-10 columns ">
                <div class="align-middle">
                    {% if images_user[0] is defined %}
                        <div class="row text-center">
                            <img src="{{ asset('uploads/promotion/') }}{{ images_user[0].src }}">
                        </div>
                        <div id="distance_between_too_shoot" class="text-center ">
                            {# distance entre les deux photos injecté en JS #}
                        </div>
                        <div class="text-center">
                            <a class="button success" href="{{ path('challenge_validation_img', {'id' : images_user[0].id }) }}">Valider</a>
                            <a class="button" href="{{ path('challenge_delete_wrong_img', {'id' : images_user[0].id }) }}">Refuser</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}


    <div id="clockdiv"></div>


{% endblock %}
{% block javascripts %}
    <script>
        var deadline = {{ deadline|date("d/m/Y") }};
    </script>
    {{ parent() }}

    <script>

        ///////////////////////////////
        //      Géolocalisation
        ///////////////////////////////

        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            $('#gamebundle_image_lat').val(position.coords.latitude);
            $('#gamebundle_image_lng').val(position.coords.longitude);
        }
        getLocation();
        showPosition();

        /////////////////////////////////////////
        // Distance entre deux prises de photo
        /////////////////////////////////////////
        {% if images_user[0] is defined %}

            var lat1 = {{ image_meneur.lat }};
            var lon1 = {{ image_meneur.lng }};
            var lat2 = {{ images_user[0].lat }};
            var lon2 = {{ images_user[0].lng }};
            function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
                var R = 6371; // Radius of the earth in km
                var dLat = deg2rad(lat2-lat1);  // deg2rad below
                var dLon = deg2rad(lon2-lon1);
                var a =
                        Math.sin(dLat/2) * Math.sin(dLat/2) +
                        Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                        Math.sin(dLon/2) * Math.sin(dLon/2)
                    ;
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                var d = R * c; // Distance in km
                return d * 1000; // Distance in m
            }

            function deg2rad(deg) {
                return deg * (Math.PI/180)
            }
            var difference = Math.round(getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2));
            $( "#distance_between_too_shoot" ).append( "<p>Distance entre les deux lieux de prises: " + difference + " mètres </p>");

        {% endif %}
    </script>
{% endblock %}