{% extends 'base.html.twig' %}

{% block body %}
    <h1>Challenge inscription</h1>
    <form action="{{ path('challenge_private_inscription', { 'id' : challenge.id }) }}" method="post">
        <table>
            <thead>
            <tr>
                <th>Inscription</th>
                <th>Pseudo</th>
                <th>Prenom</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {% if user in challenge.users %}
                            <input value="{{ user.id }}" name="user_id[]" type="checkbox" checked>
                        {% else %}
                            <input value="{{ user.id }}" name="user_id[]" type="checkbox">
                        {% endif %}
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Ajouter les utilisateurs au challenge">
    </form>

    <ul>
        <li>
            <a href="{{ path('challenge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
