<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Match My Pic{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

    </head>
    <body>

        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Match My Pic</div>
        </div>

        <div class="top-bar" id="example-menu">
            <div class="top-bar-left hide-for-small-only">
                <ul class="menu" data-dropdown-menu>
                    <li class="menu-text">Match My Pic</li>
                </ul>
            </div>
            <div class="top-bar-left hide-for-small-only">
                <ul class="menu" data-dropdown-menu>
                    <li class="menu-text">Match My Pic</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu vertical medium-horizontal" data-dropdown-menu>
                    <li>
                        <a href="#">{{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</a>
                        <ul class="menu vertical">
                            <li><a href="#">Score: {{ app.user.score }}</a></li>
                            <li><a href="#">Nb de challenge en cours: ## nb_challenge ##</a></li>
                        </ul>
                    </li>
                    {% if app.request.attributes.get('_route') != "game_homepage" %}
                        <li><a href="#">Challenges</a></li>
                    {% endif %}
                    <li><a href="#">Challenges en cours</a></li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/vendor/foundation.js') }}"></script>
            <script src="{{ asset('js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
