<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}Match My Pic{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

    </head>
    <body>

    {% block navbar %}
        {% if app.user.username is defined %}
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Match My Pic</div>
            </div>

            <div class="top-bar" id="example-menu">
                <div class="top-bar-left hide-for-small-only">
                    <ul class="menu" data-dropdown-menu>
                        <a href="{{ path('game_homepage') }}"><li class="menu-text">Match My Pic</li></a>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu vertical medium-horizontal" data-dropdown-menu>
                        <li><a href="{{ path('challenge_classement') }}">Classement </a></li>
                        <li>
                            <a href="#">{{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</a>
                            <ul class="menu vertical">
                                <li><a href="#">Score: {{ app.user.score }}</a></li>
                                <li><a href="{{ path('challenge_en_cours') }}">Nb de challenge en cours: {{ app.user.chalenges|length }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                <a href="{{ path('game_homepage') }}"><div class="title-bar-title">Match My Pic</div></a>
                <a class="title-bar-title top-bar-right" href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </div>
        {% endif %}


    {% endblock %}


        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="{{ type }} callout" data-closable>
                    {{ message }}
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}




        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/vendor/foundation.js') }}"></script>
            <script src="{{ asset('js/vendor/what-input.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
