{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="align-middle">
        <div class="row">
            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="row">
            {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
        </div>
        <div class="row">
            {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="row">
            {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="row">
            {{ form_label(form.plainPassword.second, 'Confirmation de mot de passe', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
        <div class="text-center">
            <input class="button" type="submit" value="Confirmer" />
        </div>
    </div>

{{ form_end(form) }}