<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
    </head>
    <body class="row align-center small-10 columns">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            <img src="http://www.vectortemplates.com/raster/batman/batman-logo-big.gif" alt="logo">

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <!-- Compressed JavaScript -->
        <script src="{{ asset('js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('js/vendor/foundation.js') }}"></script>
        <script src="{{ asset('js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
