{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="align-middle">
        <div class="row">
            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="row">
            {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
        </div>
        <div class="row">
            {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="row">
            {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="row">
            {{ form_label(form.current_password, 'Mot de passe actuel', {'label_attr': {'class': 'text-center'}}) }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>
        <div class="text-center">
            <input class="button" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}
